@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* nav h2 {
    font-weight: 800;
} */
.ham{
    display: none;
}
.nav .orange-clr {

    color: #FF5400;
}

.nav-one {
    display: flex;
    font-weight: 800;
    font-size: 32px;
    /* font-weight: 800; */
}

.nav {
    display: flex;

    align-items: center;
    justify-content: space-between;

}

.nav>ul {
    /* padding-top: 20px; */
    display: flex;
    /* align-items: center; */
}

.nav li a {
    text-decoration: none;
}

.nav li {
    list-style: none;
    justify-content: space-evenly;
    padding-right: 40px;


    font-size: 18px;
    font-weight: 400;
}

header {
    margin: 50px 135px;

}

/* .nav .nav-two{
    font-size: 18px;
    font-weight: 800;
} */

/* .nav h2 {
    font-size: 36px;
    font-weight: 800;
} */

.nav .orange-leter {
    color: #FF5400;
}


.bannar {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-position: center;

    width: 1170px;
    height: 500px;
    border-radius: 16px;

}



.bannar-title {
    font-size: 50px;
    color: #FFF;
    font-weight: 800;
    /* padding-bottom: 0px; */
    margin-bottom: 10px;

    /* ...... */
    padding-top: 80px;
    padding-left: 287px;
    padding-right: 287px;
    text-align: center;

    color: #FFF;
}

.bannar-describtion {
    /* padding-top: 0px; */
    /* margin-top: 0px; */
    font-size: 16px;
    font-weight: 400;
    /* ..... */
    padding-top: 0px;
    padding-left: 287px;
    padding-right: 287px;
    text-align: center;

    color: #FFF;
}

.input-nd-dropdown-field {
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    gap: 24px;
    /* box-shadow:#FFFFFF ;
    outline-offset: 20px;
    outline-color: #FFFFFF;
    border-color: #FFFFFF; */



}


.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    background-color: #FF900E;
    color: #FFF;
    padding: 15px 25px;
    cursor: pointer;
    border: 0;
    width: 174px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
}

/* .when-select{
    border: 0;
    width: 174px;
    height: 52px;
    border-radius: 8px;
}
.type-select{
    border: 0;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    padding-right: 20px;
} */
.input-size {
    border: 0;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    padding-right: 20px;
    font-weight: 400;
    /* font-size: 1rem; */
    font-size: 16px;
}

.main-input {
    border: 0;
    width: 160px;
    height: 52px;
    border-radius: 8px;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.50);
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
}

/* ...........................................section 1 ------------- */
.first-part {

    margin: 50px 135px;
    display: flex;
    gap: 80px;

}

.first-part .first-title {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.first-part .first-description {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.first-part li {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.first-part .img-first {
    padding-top: 30px;
    width: 500px;
    height: 450px;
    flex-shrink: 0;
}

.first-part .btn-first {
    border-radius: 8px;
    background: #FF900E;
    background-color: #FF900E;
    color: #FFF;
    padding: 10px 25px;
    cursor: pointer;
    border: 0;
    width: 160px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
}

/* 
...................section2 .......................................section2 */
/* ....................section 2  ..Choose Your Destination............................ */
.secound-part {
    margin: 50px 135px;
}

.snd-part-title {
    /* align-items: center; */
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;

}

.snd-descri {
    color: rgba(19, 19, 24, 0.70);

    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}

.secound-part .row1 {
    padding-top: 20px;
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    gap: 10px;
    display: flex;


}

.secound-part .row2 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    /* display:grid; */
    /* grid-template-columns: repeat(3,1fr); */
}

.secound-part .row2 .row2-1st-img {
    width: 374px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.secound-part .row2 .row2-2nd-img {
    width: 474px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.secound-part .row2 .row2-3rd-img {
    width: 274px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 16px;
}

.secound-part .row3 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}


/* ...................section 3 why choose use ................... */
.third-part {
    margin: 50px 135px;
}

.two-box {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
    display: flex;
}

.two-box img {
    margin-top: 20px;
    margin-left: 20px;
    width: 20px;
    height: 30px;
}

.box1-third-part {
    width: 500px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);

    background: rgba(251, 181, 99, 0.05);
    padding-left: 20px;
}

.box2-third-part {
    width: 500px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);

    background: rgba(41, 206, 246, 0.05);
    padding-left: 20px;
}

.box3-third-part {
    margin-top: 20px;
    margin-left: 300px;
    width: 500px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

    padding-left: 20px;
}

.box3-third-part img {
    margin-top: 20px;
    margin-left: 20px;
    width: 20px;
    height: 30px;
    gap: 10px;
}


/* ..............................forth section......................... */

.forth-part {
    display: flex;
}

.forth-part img {
    padding-top: 50px;
    width: 474px;
    height: 422px;
}

.f-title {
    text-align: left;
}

.f-descri {
    text-align: left;
}

.news-letter {
    margin: 50px 135px;
    border: 2px solid tomato;
    border-radius: 8px;
    padding-left: 10px;
    width: 474px;
    height: 422px;
    flex-shrink: 0;
}

.news-letter .f-input {
    border: 5px;

    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    padding-bottom: 10px;
    color: rgba(19, 19, 24, 0.30);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 20px;

}

.news-letter .last-btn {
    border-radius: 8px;
    background: #FF900E;
    background-color: #FF900E;
    color: #FFF;
    padding: 15px 25px;
    cursor: pointer;
    border: 0;
    width: 450px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
}

/* ...........not sure ............. */

.sale-70 {



    width: 324px;
    height: 120px;
    position: relative;
    left:-270px;
    top:265px;
    transform: rotate(-19.628deg);

    transform-origin: bottom right;
    /* bottom: -300px; */
    /* right: 3px; */
  
    /* left: 2px; */
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    border: none;



}

/* 
........................footer part...................... */
.footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1500px;
height: 502px;
flex-shrink: 0;
display: grid;
}
.footer-first-part{
    /* text-align: center; */
    display:flex;
    align-items: center;
    margin: 50px 135px;
    padding-left: 450px;

  
}

.footer-first-part img{
    /* padding-bottom: 30px; */
    gap:0px;
}
.footer-title {
    color: #131318;

    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    /* padding-left: 450px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.o-color {
    /* padding-left: 800px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;

}
.footer-discription{
    margin-left:  135px;
    margin-right: 135px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 350px;

}

.footer-last-img-part{
    padding-top: 50px;
    margin-left: 520px;
}

.footer-last-part{
    padding-top: 50px;
    margin-left: 550px;
}
/* ...............for responsive ................... */
@media screen and (max-width:600px) {

    

   .nav-two {
    display:none;
   }
   .ham{
        width: 20px;
        height: 20px;
        display: flex;
    }

    nav,
    .first-part,
    .collage-img,
    .row1,
    .row2,
    .row3,
    .forth-part {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .collage-img {
        height: auto;
        /* width:100%; */
        margin-right: 20px;
    }

    /* .secound-part  .row2 {
        grid-template-columns: 1fr;
    } */
    .row1 {
        width: 335px;
        /* height: 176px; */
        height: auto;
        flex-shrink: 0;
        flex-direction: column;
    }

    .row2 {
        width: 335px;
        height: auto;
        flex-shrink: 0;
        flex-direction: column;
    }

    row3 {
        width: 335px;
        height: auto;
        flex-shrink: 0;
        flex-direction: column;
    }

    /* ............................................ */
    .bannar {

        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        width: 335px;
        height: 483px;
    }

    nav p img {
        position: static;
        width: "20";
    }

    .bannar .bannar-title {

        padding-top: 80px;
        padding-left: 28px;
        padding-right: 28px;
        text-align: center;
        font-size: large;
    }

    .bannar .bannar-describtion {
        padding-left: 28px;
        padding-right: 28px;
        text-align: center;
        font-size: small;
    }

    .bannar .input-nd-dropdown-field {
        flex-direction: column;
        padding-left: 45px;
        padding-top: 0px;
        margin-top: 0px;
        /* width: 100%; */
        height: auto;
        width: 255px;
        height: 52px;

    }

    .input-nd-dropdown-field .input-size {
        width: 255px;
        height: 52px;
        flex-shrink: 0;

    }

    .btn-primary {
        width: 255px;
        height: 52px;
        flex-shrink: 0;
        padding-bottom: 20px;
    }

    .main-input {
        width: 220px;
        height: 52px;
        flex-shrink: 0;
        padding-right: 24px;
    }

    /* ......................section 1................... */
    .first-part .img-first {
        width: 335px;
        height: 342px;
        flex-shrink: 0;
        margin-top: 0px;
        /* margin-left: 20px; */
        margin-right: 20px;
    }

    /* ................section 3 ............ */
    .two-box {
        /* grid-template-columns: repeat(1,1fr); */
        flex-direction: column;
    }

    .box3-third-part {
        margin-top: 0px;
        margin-left: 0px;
    }

    /* ..........section forth........... */

    .forth-part {
        flex-direction: column;

    }

    .forth-part img {
        margin-right: 50px;
        padding-left: 150px;
    }
    .sale-70{
        position:relative;
        top:-230px;
        left: 300px;
    }
/* ..........footer..... */
.footer{
    width: 600px;
    height: 422px;
flex-shrink: 0;

margin-right: 200px;
/* padding-left: 150px; */

}
/* .footer-first-part img{
    margin-right: 200px; 
} */
.footer{
    grid-template-columns: 1fr;
margin-top: 150px;
}

.footer-first-part .footer-title{
    margin-left: 0px;
    padding-left: 0px;
    position :relative;
    left:-350px;
    /* right:50px; */
}
 .footer-discription{
    margin-left: 50px;
    padding-left: 0px;
    position :relative;
    /* left:-30px; */
    right:auto;
}
.footer-last-img-part{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 50px;
    padding-left: 0px;
    position :relative;
    /* left:-30px; */
    right:auto;
    width:100px;
    height: 50px;
}

.footer-last-part{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 210px;
    padding-left: 0px;
    position :relative;
    /* left:-30px; */
    right:auto;
}
}


@media screen and (min-width:992px) and (max-width:1200px) {

    header {
        padding: 20px;
    }

    .collage-img,
    .row1,
    .row2,
    .row3 {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .two-box {
        /* grid-template-columns: repeat(1,1fr); */
        flex-direction: column;
    }

    .box3-third-part {
        margin-top: 0px;
        margin-left: 0px;
    }

    .footer{
        display:grid;
    }

}